<h3>Change Parent Layout:</h3>
<select (change)="changeLayout($event)">
  <option [value]="ParentLayout.Layout01">Layout 1</option>
  <option [value]="ParentLayout.Layout02">Layout 2</option>
  <option [value]="ParentLayout.Layout03">Layout 3</option>
</select>

<!-- Advantage: None, as of yet -->
<!-- Disadvantage: Boilerplate -->
<app-child-with-resolver
  [appChildLayoutResolver]="layout">
</app-child-with-resolver>

<!-- Advantage: Simple implementation -->
<!-- Disadvantage: Awful error reporting (silently fails on typos) -->
<app-child-basic
  [ngClass]="{
    'red': layout === ParentLayout.Layout01,
    'green': layout === ParentLayout.Layout02,
    'blue': layout === ParentLayout.Layout03
  }">
</app-child-basic>

<!-- Advantage: Good error reporting, TypeScript intellisense -->
<!-- Disadvantage: Classnames located in .ts -->
<app-child-with-hostbinding
  [parentLayout]="layout"
></app-child-with-hostbinding>

<app-child-with-hostbindings-and-child
  [parentLayout]="layout"
></app-child-with-hostbindings-and-child>